html {
  background-color: #fdf6e3;
  font-family: sans-serif;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
}

main {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  box-sizing: border-box;
}

header {
  width: 100vw;
  background-color: #eee8d5;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

footer {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
  background-color: #eee8d5;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #502709;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #eee8d5;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 0;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
   .menu {
    display: none;
  }
}

.menu {
  background-color: #eee8d5;
  border: none;
  color: #502709;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}
.tags {
    display: flex;
    flex-wrap: wrap;
  }

.tag {
  margin: 0.00em;
  border: dotted 1px #eee8d5;
  border-radius: 1.0em;
  padding: .15em 1em;
  font-size: 0.85em;
  background-color: #073642;
  color: #eee8d5;
}