<html>
    <head>

    </head>
    <body>

        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

        <h1>Bruno Cuevas Zuviria</h1>

        <h2>
            Hi there!
        </h2>

        <p>
            My name is Bruno Cuevas Zuviría. I am a post-doctoral researcher
            working at the Universidad Politécnica de Madrid, and this is my blog.
        </p>
    </body>
</html>