---
const { url, title, date, tags} = Astro.props;
import '../styles/global.css';
---
<style>
a {
   text-decoration: none;
}
.pub_title {
    font-weight: 800;
    color: #073642;
}
.date {
   color: #839496;
}
.blog_entry {
    margin-bottom: 1.5rem;
}
</style>
<div class="blog_entry">
    <a href={url}><span class="pub_title">{title}</span></a> <span class="date"> {date.toString().slice(0,10)} 
    <div class="tags">
        {
            tags.map((tag: any) => (
                <a class="tag" href={`/tags/${tag}`}>{tag}</a>
            ))
        }
    </div>
</div>
