---
import Social from "./Social.astro";
const platform = "github";
const username = "withastro";
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    background-color: #eee8d5;
    padding: 1rem;
    justify-content: center;
    /* Removed margin-top to allow sticky footer */
  }
</style>

<footer>
  <p>Learn more about my projects on: </p>
  <Social platform="Bluesky" url="bsky.app/profile" username="brunocuevaszuviria.bsky.social"/>
  <Social platform="GitHub" url="github.com" username="BrunoCuevas"/>
  
</footer>